li {
  display: inline;
  margin: 15px;
  text-align: center;
  color: white;
}

ul {
  display: table;
  margin:0 auto;
}

h2 {
  margin-left: 35px;
  text-align: center;
}

body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
